<div class="splash">
  <div class="splashbody">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="splashtitle">Let's Pair</h1>
          <p class="slogantext">A collaborative community of developers who love to code.
          <br />
          <br />
          <%= link_to categories_path do %>
          <button type="button" class="btn btn-primary btn-lg">Find a Session</button>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>