
<div>
  <% @categories.each do |category| %>

    <h1><%= category.name %></h1>

    <% category.sections.each do |section| %>
      <h2><%= section.name %></h2>

        <% section.posts.each do |post| %>
          <h3><%= post.title %></h3>
        <% end %>

    <% end %>

  <% end %>

</div>