body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background:url(greyBack.png);
    padding-top:50px;
   
}

#footer {
    height: 100px;
    color:white;
    background-color: rgba(0,0,0,0.7);
    font-family: Lora, "Helvetica Neue";
    padding:10px 0px;
    font-weight:100;
}

html {
    width: 100%;
    height: 100%;
}
h1 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.social-button {
    width: 40px;
    margin: 4px;
}

.splash {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background:url(splashphoto.jpeg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.splashbody {
    display: table-cell;
    vertical-align: middle;
}

.splashtitle {
    font-size: 100px;
    border: 3px solid #FFFFFF;
    width:auto;
    background-color: rgba(0,0,0,0.5);
  
}

.slogantext {
    font-size: 20px;

}

.clr {
    clear:both;
}


.listbox{
   
    background: #fff;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.06);
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    border-radius:4px;
    margin-top:40px;
    padding: 20px 20px 20px;
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
}
