body {
  padding-top: 70px;
}
.top-nav {
  background-color:white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height:70px;
  padding-top:15px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left:8px;
}

.top-nav .add {
  margin-top:10px;
}

.brand a {
  color: #125688;
  font-size: 35px;
  font-family: 'Playball', cursive;
  margin-bottom: 5px;
}

a:hover {
  text-decoration: none;
  color: #C9C9C9;
}
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 1 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin-top: 40px;
  padding: 0;
}
.handle {
  margin: 10px;
  color: #C9C9C9;
  font-weight: bold;
  font-size: 18px;
}

.handle .img-responsive {
  image-size: cover;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  box-shadow: none;
}

.my-btn {
  background-color: #E9E9E9;
  width: 100%;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.my-btn:hover{
  background-color: #125688;
}
.input.boolean {
  margin-left:18px;
  margin-top:5px;
}

.input.boolean label {
  margin-top:5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right:20px;
  color: #C9C9C9;
}
.comments {
  padding: 20px;
}
.comment {
  font-size: 16px;
  margin-top:5px;
}
.comment_handle {
  color: #C9C9C9;
  font-weight: bold;
  font-size: 18px;
}

.form-control {
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  border: 1px solid #E9E9E9;
}
.profile-picture{
  height: 50px;
  width: 50px;
  margin-top: -15px;
  border-radius: 100%;
  border: 5px solid #E9E9E9;
}
.user-card-pic{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 2px solid #E9E9E9;
}
